<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 	https://www.springframework.org/schema/beans/spring-beans.xsd
 	http://www.springframework.org/schema/util
 	https://www.springframework.org/schema/util/spring-util.xsd
 	http://www.springframework.org/schema/context
 	https://www.springframework.org/schema/context/spring-context.xsd
 	http://www.springframework.org/schema/tx 
 	https://www.springframework.org/schema/tx/spring-tx.xsd
 	http://www.springframework.org/schema/mvc 
 	https://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:component-scan
		base-package="com.product" />
		
	<mvc:annotation-driven />
	<mvc:resources location="/WEB-INF/resources/"
		mapping="/resources/**" />


	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/user/*" />
			<mvc:exclude-mapping path="/welcome" />
			<bean class="com.product.config.AuthHandler" />
		</mvc:interceptor>
	</mvc:interceptors>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		name="viewResolver">
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>



	<tx:annotation-driven />

	<!-- datasource credential -->
	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		name="ds">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/springmvc" />
		<property name="username" value="root" />
		<property name="password" value="IamPawan" />
	</bean>


	<!-- hibernate configuration properties -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">

		<property name="dataSource" ref="ds" />

		<property name="packagesToScan" value="com.product.entity" />
		
		<!-- <property name="packagesToScan">
			<list>
				<value>com.product.entity.User</value>
				<value>com.product.entity.Notes</value>
			</list>
		</property> -->

		<property name="jpaVendorAdapter">
			<bean
				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>

		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<!-- <prop key="hibernate.format_sql">true</prop> -->
			</props>
		</property>
	</bean>


	<bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory"
			ref="entityManagerFactory" />
	</bean>




	<!-- <bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver" 
		/> -->

</beans>